<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/echarts.min.js"></script>
    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <title>zy-web</title>
</head>

<body>
    <div class="top">
        <br><br>
        <p>welcome to use RPI web remote control</p>
        <div class="line-dec"></div>
        <br><br>
        <div class="white-border-button">
            <a href="/IR_ON">空调：开</a>
        </div>
        <div class="white-border-button">
            <a href="/IR_OFF">空调：关</a>
        </div>
        <div class="white-border-button">
            <a href="/IR_UP">温度：增</a>
        </div>
        <div class="white-border-button">
            <a href="/IR_OFF">温度：降</a>
        </div>
        <br><br>
        <h2>宿舍温湿度实时监控</h2>
        <br>
        <h3>当前温度：{{Temperature}}</h3>
        <br>
        <h3>当前湿度：{{Wet}}</h3>
    </div>
    <div class="buttom">
        <br>
        <br>
        <h1>最近7小时宿舍温度和湿度变换</h1>
        <div id="chart"></div>
    </div>

    <script type="text/javascript" src="../static/js/chart.js"></script>

</body>


</html>